## Activitats Python Estructures de dades (llistes, tuples, conjunts, diccionaris)

**Llistes**

---

1.- Fer la llista inversa de list = [100, 200, 300, 400, 500]

In [ ]:
list = [100, 200, 300, 400, 500]
list.reverse()
print(list)

2.- Trobar el número més gran i més petit d'una llista

In [ ]:
list = [100, 200, 300, 400, 500]
mgran = max(list)
mpetit = min(list)
print("El numero ms grande de la lista es", mgran, "y el mas prqueño es", mpetit)

3.- Concatena dos llistes seguint el següent ordre:

list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

Resultat:

['My', 'name', 'is', 'Kelly']

In [ ]:
list1 = ["M","na","i","Ke"]
list2 = ["y","me","s","lly"]
list3 = [list1[0]+list2[0], list1[1]+list2[1], list1[2]+list2[2], list1[3]+list2[3]]
print(list3)

**Tuples**


---

4.- Crear una tupla manualment i trobar els elements duplicats

In [ ]:
tupla = (2,1,1,"juan","juan" ,2,4,33, 23,)
duplicados = []
unicos = []
for i in tupla:
  if i not in unicos:
    unicos.append(i)
  else:
    duplicados.append(i)
print(duplicados)

[1, 'juan', 2]

5.- Crear una tupla a partir d'una llista

In [ ]:
l = [8,7,6,5,4,3,2,1,0]
t = tuple(l)
print(type(t))

6.- Escriure un codi que sumi les tuples tal com:

(1, 2, 3, 4)

(3, 5, 2, 1)

(2, 2, 3, 1)

Resultat:

 (6, 9, 8, 6)

In [ ]:
t1 = (1, 2, 3, 4)
t2 = (3, 5, 2, 1)
t3 = (2, 2, 3, 1) 
resultat = []

for i in range(4):
    resultat.append(t1[i] + t2[i] + t3[i])
print(resultat)

**Conjunts**


---

7.- Escriure un codi que retorni els elements repetits d'aquests dos conjunts

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

Resultat: {40, 50, 30}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
duplicados = []

for i in set1:
  if i == i in set2:
    duplicados.append(i)
print(duplicados)

8.- Escriure un codi que retorni els elements dels dos conjunts excepte els elements repetits

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

Resultat: {10, 20, 30, 40, 50, 60, 70}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1 |= set2
print(sorted(set1))

**Diccionaris**


---

9.- Convertir aquestes dues llistes en un diccionari

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

Resultat: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
resultat= {}

for i in range(3):
  resultat[keys[i]] = values[i]
print(resultat)

10.- Comprovar si el valor 200 existeix en aquest diccionari

sampleDict = {'a': 100, 'b': 200, 'c': 300}

Resultat: True

In [ ]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
n = 200
for i in sampleDict:
  if n == sampleDict[i]:
   R = "True"
   break
  else:
    R = "False"
print(R)